#menu {
	background: steelblue;
	border-top: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}

#menu .ed-item {
	border-right: 1px solid #fff;
	padding: .3em 0 0 0;
	border-bottom: 1px solid steelblue;
}
#menu .ed-item:last-child{
	border-right: none;
}

.menu__item {
	cursor: pointer;
	width: 100%;
	color: #fff;
	padding: .5em 0;
	transition: all ease-out .5s;
	border-bottom: 6px solid transparent;
	text-transform: uppercase;
}

.menu__item:hover {
	border-bottom: 6px solid #FFF;
}

#cuerpo {
	margin: 5em;
}

.registrar {
	color: steelblue;
	padding: .5em;
	border: 1px solid steelblue;
	border-radius: 3px;
	transition: all ease-out .5s;
	margin: .5em;
}

.registrar:hover {
	box-shadow: 1px 1px 5px rgba(70, 130, 180, 0.73);
}

.formulario__selector {
	display: block;
	color: steelblue;
	line-height: 2em;
	padding: .3em;
	margin: .7em 0;
	font-size: .9em;
}

.texto {
	color: steelblue;
	text-transform: uppercase;
}


.reporte__tabla {
	width: 100%;
}

.reporte__tabla td {
	border: 1px solid steelblue;
}

.tabla__titulos {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background: steelblue;
	color: #FFF;
	line-height: 2;
}

.tabla__items td {
	padding: .5em;
	color: steelblue;
}

.tabla__total td {
	color: #FFF;
}

.tabla__total {
	font-weight: bold;
	text-align: center;
	background: steelblue;
}

.exportar_link {
	margin-bottom: 5em;
	margin-top: 1em;
}

.exportar_link a {
	background: steelblue;
	color: #FFF;
	padding: .5em;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 3px;
}

.titulo__tabla {
	color:steelblue;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid steelblue;
	padding-bottom: .5em;
	margin-bottom: 2em;
}