#menu {
	background: steelblue;
	border-top: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}

#menu .ed-item {
	border-right: 1px solid #fff;
	padding: .3em 0 0 0;
	border-bottom: 1px solid steelblue;
}
#menu .ed-item:last-child{
	border-right: none;
}

.menu__item {
	cursor: pointer;
	width: 100%;
	color: #fff;
	padding: .5em 0;
	transition: all ease-out .5s;
	border-bottom: 6px solid transparent;
	text-transform: uppercase;
}

.menu__item:hover {
	border-bottom: 6px solid #FFF;
}

#cuerpo {
	margin: 5em;
}

.registrar {
	color: steelblue;
	padding: .5em;
	border: 1px solid steelblue;
	border-radius: 3px;
	transition: all ease-out .5s;
}

.registrar:hover {
	box-shadow: 1px 1px 5px rgba(70, 130, 180, 0.73);
}

.formulario__selector {
	display: block;
	color: steelblue;
	line-height: 2em;
	padding: .3em;
	margin: .7em 0;
	font-size: .9em;
}